# Data Set is from Kaggle (Open Source)

Loading Data into Pandas

In [34]:
import pandas as pd 

df= pd.read_csv('/Users/eileen/Desktop/Data Science Job/Keith Galli/pandas-master/pokemon_data.csv')

# pd.read_excel() to read excel file
# pd. read_csv('file name.txt', delimite='\t (whatever seperating your columns)')

# print(df.tail(3)) gives bottom 3

In [32]:
## Reading Header 
# df.columns

## Reading Columns 
# print(df['Name']) gives all of them 
# print(df['Name'][0:5]) gives top five
# print(df[['Name','Type 1', 'HP']]) prints multiple columns 


## Read Each Row 
# print(df.iloc[1])
# print(df.iloc[1:4])
# for index, row in df.iterrows():
    # print(index, row)
    
    # it gives row by row description. 
    
# for index, row in df.iterrows():
    # print(index, row['Name'])

    # it gives columns  (name) and its index in the row 
    
# df.loc[df['Type 1'] == 'Grass']

## Read Specific Location (R,C)
# print(df.iloc[2,1])


# df.describe()
# gives all kinds of stats like mean, count, std, meadian etc. 


# Sorting
# df.sort_values('Name') for Ascending 

# df.sort_values('Name', ascending= False) for descending 

# Multiple columns, because we have two columns we need to specify for both, if we want them to be opposite. 
# df.sort_values(['Type 1', 'HP'], ascending = [True, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Making Changes to the Data

In [67]:
# We are going to add all stats see total. 

df['Total']= df['HP']+ df['Attack']+ df['Defense']+ df['Sp. Atk']+ df['Sp. Def'] +df['Speed']

# Droping or deleting a columns df= df.drop(columns= 'Total')

# Second methond of adding total column
# df['Total'] = df.iloc[:, 4:10].sum(axis= 1), 10 is excluded
# axis= 0 adds vertically, axis= 1 adds horizontally


# Want to relocate total columns

# cols= list(df.columns)  Turns all columns into list
# df= df[cols[0:4] + [cols[-1]] + cols[4:12]]  we had to put extra [] around Total because it was a string

df.head(5)

,#,Name,Type 1,Type 2,Total,Legendary,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,False,False,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,False,False,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,False,False,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,False,False,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,False,False,39,52,43,60,50,65,1

### Saving our Data(Exporting into Desired Format)

In [1]:
# To save data
# df.to_csv('modified.csv'), saves data with index
# df.to_csv('modified.csv',index= False), saves data without index

# df.to_excel('modified.xlsx', index= False)
# df.to_csv('modified.txt', index= False, sep='\t')

### Filtering Data

In [24]:
# df.loc[(df['Type 1']== 'Grass') & (df ['Type 2']=='Poison')] And condition

# df.loc[(df['Type 1']== 'Grass') | (df ['Type 2']=='Poison')] OR condition

# new_df= df.loc[(df['Type 1']== 'Grass') & (df ['Type 2']=='Poison')& (df['HP']> 70)]

# new_df.to_csv('filtered.csv')

# when new df is created using filter the index from old data frame stays, so way to reset index is by,
# new_df= new_df.reset index()
# now index is reset, but also old index is in new column, further more to edit it, 
# new_df= new_df.reset.index(drop= True), now old index is dropped. 

# new_df= new_df.reset.index(drop= True, inplace= True) 

# if you dont want to have to reset it to a new data frame, u can use inplace
# which just probably conserves a little bit of mememory. 

# We want to remove all names having mega in it. 

# df.loc[df['Name'].str.contains('Mega')] filters all name columns containing mega
# df.loc[~df['Name'].str.contains('Mega')] filters all name columns not containing mega.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [40]:
import re


# df.loc[df['Type 1'].str.contains('Fire|Grass', regex= True)]

# flags ignore case sensitivity. 
# df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex= True)]
# df.loc[df['Name'].str.contains('pi[a:z]*', flags = re.I, regex= True)]
# df.loc[df['Name'].str.contains('^pi[a:z]*', flags = re.I, regex= True)] ^ implies start with

#### Conditional Changes

In [63]:
# df.loc[df['Type 1']=='Fire','Type 1']='Flamer'
# changed all fire to flamer in type 1 column

# df.loc[df['Type 1']== 'Fire','Legendary']= True (lets you change values in legendary column.)

df= pd.read_csv('modified.csv')


# You can also change multiple parameters at same time 
# df.loc[df['Total']>500, ['Generation','Legendary']] = 'Test Value'

# df.loc[df['Total']>500, ['Generation','Legendary']] = ['Test Value 1','Test Value 2']

df= df.drop(columns='Legendary.1')
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,318,False,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,405,False,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,525,False,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,False,80,100,123,122,120,80,1
4,4,4,Charmander,Fire,NaN,309,False,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,True,50,100,150,100,150,50,6
796,796,719,DiancieMega Diancie,Rock,Fairy,700,True,50,160,110,160,110,110,6
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,True,80,110,60,150,130,70,6
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,True,80,160,60,170,130,80,6
799,799,721,Volcanion,Fire,Water,600,True,80,110,120,130,90,70,6

###  Agregated Statistics

In [80]:
# df.groupby(['Type 1']).mean()
# Gives average for all types of pokemon on the list. 

# df.groupby(['Type 1']).mean().sort_values('Defense', ascending= False)
# sorted by defense in descending order

# df.groupby(['Type 1']).mean().sort_values('Attack', ascending= False)

# df.groupby(['Type 1']).mean().sort_values('HP', ascending= False)

# df.groupby(['Type 1']).sum()

df['count'] = 1

# df.groupby(['Type 1']).count()['count']
# df.groupby(['Type 1','Type 2']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

#### Working with Larger Data Set

Suppose you have 20 GB data, pandas allows you to read data in chunks.

In [85]:
# than normally we would do 
# for df in pd.read_csv('modified.csv', chunksize= 5):
    # print('CHUNK DF')
    # print(df) 
    
# new_df= pd.dataframe(columns= df.columns) 
# for df in pd. read_csv('modified.csv', chunksize=5): 
    # results= df.groupby(['Type 1']).count()
    
    # new_df= pd.concat([new_df,results])

AttributeError: module 'pandas' has no attribute 'dataframe'